<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Assignment 7</title>
	<link rel="stylesheet" href="Asgn7_Doleshal.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" >
	<!-- I HAD TO REPLACE THIS JQUERY CALL TO THE LATEST VERSION IN ORDER TO RUN IN MY BROWSER-->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   	<script src=" Asgn7_Doleshal.js"></script>
	
	<style>
		.draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 50px 10px 10px 0; background-color: white; border: 1px solid black;}
		#droppable { width: 150px; height: 300px; padding: 0.5em; float: left; margin: 50px; }

	</style>
</head>


<h1>Health Care Exchange - First Draft</h1>

<body>
    <div id="tabs">
	<ul>
		<li><a href="#tabs-1">Sign Up</a></li>
		<li><a href="#tabs-2">Pick a Plan</a></li>
		<li><a href="#tabs-3">How do you Feel?</a></li>
		</ul>
	
	<div id="tabs-1">
			<p>
			<label for="first_name">First Name:</label>
			<br>
			<input type="text" id="first_name" name="first_name" required> <span class="error" id="first_error"></span>
			<br><br>
			<label for="last_name">Last Name:</label>
			<br>
			<input type="text" id="last_name" name="last_name" required> <span class="error" id="last_error"></span>
			<br><br>
			<label for="start_date">Start Date:</label>
			<br>
			<input type="text" id="start_date" name="start_date" required> <span class="error" id="date_error"></span>
			<br><br>
			<input type="button" id="create_account" value="Create an Account">
			<br>
			<p id="create_account_message"></p>
			</p>
		</div>

	<div id="tabs-2">		
			
			<div id="great_plan" class="ui-widget-content, draggable">
			<p>Great Plan!</p>
			</div>
			
			<div id="poor_plan" class="ui-widget-content, draggable">
			<p>Poor Plan!</p>
			</div>

			<div id="droppable" class="ui-widget-header">
			<p>Drop your plan here</p>
			</div>		
				
	</div>

	<div id="tabs-3">
			<p>
			<input type="button" id="show_feelings" value="Show My Feelings!">
			<br>
			</p>
			<label type="text" id="show_feelings_message"><h3>How do you feel now?</h3></label>
			</p>
	</div>
		
	

	</div>
	<script>
	$(document).ready(function(){
	
	//calls tabs API for #tabs elements
	$("#tabs").tabs();
	
	//calls date picker API for the start_date field
	$("#start_date").datepicker();
	
	$("#create_account").click(function ()
	{
		var x = 0; //counter for errored fields
		var errorString = "Please Correct Errors and Try Again";
		
		//get value of first name entry
		var firstName = $("#first_name").val().trim();
		$("#first_name").val(firstName);
		//get value of last name entry
		var lastName = $("#last_name").val().trim();
		$("#last_name").val(lastName);
		//get value of start date entry
		var startDate = $("#start_date").val().trim();
		$("#start_date").val(startDate);
		
		//clear tabs on button click
		$("#tabs #first_error").text("");
		$("#tabs #last_error").text("");
		$("#tabs #date_error").text("");
		$("#create_account_message").html("");
	
		//validate entry of first name field
		if (firstName == "")
		{			
			$("#tabs #first_error").text("Please enter a First Name");
			$("#create_account_message").html(errorString);
			$("#create_account_message").css("color", "red");
			$("#create_account_message").css("font-weight", "bold");
			x = x+1;
		}
		
		//validate entry of last name field
		if (lastName == "")
		{			
			$("#tabs #last_error").text("Please enter a Last Name");
			$("#create_account_message").html(errorString);
			$("#create_account_message").css("color", "red");
			$("#create_account_message").css("font-weight", "bold");
			x = x+1;
		}
		
		//validate entry of Start Date field
		if (startDate == "")
		{			
			$("#tabs #date_error").text("Please enter the Start Date");
			//$("#tabs #start_date").focus();
			$("#create_account_message").html(errorString);
			$("#create_account_message").css("color", "red");
			$("#create_account_message").css("font-weight", "bold");
			x = x+1;
		}
		
		//if x has successfully passed all other if statements, it should remain as 0
		if (x == "0")
		{
		var mySignUpString = "<h2>Success: " + firstName + " " + lastName + "<br>Use the Start Date as your Password</h3>";
		$("#create_account_message").html(mySignUpString);
		}
	}) //end of button click event for Sign Up
	
	
	//draggable and droppable declarations
	var chosenPlan = "";
	$(".draggable").draggable();
	
	//droppable logic
	$("#droppable").droppable({
		drop: function(event, ui)
		{
			if (ui.draggable.attr("id") == "great_plan")
			{

				$(this).addClass("ui-state-highlight").find("p").html("Great Plan Picked!");
				chosenPlan = "Great Plan";
			}
			
			if (ui.draggable.attr("id") == "poor_plan")
			{

				$(this).addClass("ui-state-highlight").find("p").html("Poor Plan Picked!");
				chosenPlan = "Poor Plan";
			}
		}
	}) //end of droppable logic	


	//callback function for stopping process of runEffect functions (animations)
	var callback = function ()
		{
			setTimeout(function()
				{
					$("#show_feelings_message").removeAttr("style").fadeIn();
					}, 100);
				
		}
	
	
	//click event for show_feelings button
	$("#show_feelings").click(function ()
	{
		
		if (chosenPlan == "")
		{
			function runEffect()
				{
					var options = [];
					$("#show_feelings_message").effect("bounce", options, 1000, callback);
				}
				
			$("#show_feelings_message").html("<h3>I don't know</h3>");
			runEffect();
		}
		
		if (chosenPlan == "Great Plan")
		{
			function runEffect()
				{
					var options = [];
					$("#show_feelings_message").effect("blind", options, 1000, callback);
				}
				
			$("#show_feelings_message").html("<h2>Great!</h2>");
			runEffect();
		}
		
		if (chosenPlan == "Poor Plan")
		{
			function runEffect()
				{
					var options = [];
					$("#show_feelings_message").effect("shake", options, 1000, callback);
				}
				
			$("#show_feelings_message").html("<h4>My Head Hurts!</h4>");
			runEffect();
		}
	
	}) //end of show_feelings click event
	
}); //end of ready function

</script>


	

</body>
</html>
