<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assignment 8</title>
</head>
<body>
		<h1>Login</h1>
		<p>User ID: <input type="text" name="userID" id="userID"></p>
		<p>Password: <input type="text" name="userPW" id="userPW"></p>
		<p><input type="button" value="Login" id="guessbutton">

		<div id="targetDiv"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

	<script>

	$(document).ready(function() {

		$('#guessbutton').click (function () {

			var targetDiv = $('#targetDiv');
			var userID = $('#userID').val();
			var userPW = $('#userPW').val();

			var data = userID + "|" + userPW;

//professor, the link you provided was HTTP but the element is blocked when attempting to run via the test server. I've changed it to HTTPS and it was successful.
			$.post(
				"https://profperrytest.com/AJAXPHP/validate_logon.php",
				'data='+data,
				function(result){
					targetDiv.html(result);
				}
			);
		});

	});  // end ready

	</script>
</body>
</html>
